body
{
    font-family: 'Open Sans', sans-serif;
}
.bg-lgreen{
	background-color: #21e43c;
}
.pad-10
{
	padding: auto;
}
.text-lgreen
{
	color: #21e43c;
}
.quiz-table
{
	font-size: inherit;
}
.quiz-title
{
margin-left: 360px;

font-size: x-large;
}
.search-form{
	width: 300px;
	margin-left: 170px;
}
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 40x;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
	font-size: 14px;
	
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
		font-size: 14px;

}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
	font-size: 14px;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -2px;
	right: -5px;
	z-index: 2;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}
.quiz-table>thead>tr
{
background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.quiz-column
{
	padding: auto;	
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
	text-decoration: none;
	font-size: 90%;
}
.page-item.active .page-link {
	z-index: 1;
	color: #575757;
	background-color: #21e43c;
	border-color: #21e43c;
}


@media (max-width:1200px)
{
	.quiz-title {
	margin-left: 265px;
}
.search-form {
	margin-left: 75px;
}
}
@media (max-width:992px)
{
	.quiz-title {
	margin-left: -25px;
	font-size: large;
}
	.search-form {
	width: 270px;
	flex: 1;
	margin-left: 0px;
}
	.pad-10
{
	padding: 0px;
}
	.quiz-table
{
	font-size: 88%;
}
.quiz-column
{
	padding: 10px !important;	
}
.navbar-collapse.collapse .search-form .form-group {
	width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.navbar-collapse.collapse.show
{
	background-color: #21e43cb3;
}
}
